@media screen and (max-width: 480px) {
    h1{
        margin-bottom: 10%;
    }
    .ui{
        width: 300px;
        margin-top: 15%;
    }
    .footer{
        display: none;
    }
    .phone-footer{
        display: flex;
        justify-content: space-between;
        
        color: #9495A5;

        font-size: 12px;

        background-color: white;
        padding: 1.2vh 1.6vh;
        border-radius: 0 0 5px 5px;
        transition: all 1s ease-in-out;

        margin-bottom: 5%;
    }

    .phone-filters{
        display: flex;
        justify-content: center;
        gap: 20px;

        background-color: white;
        padding: 1.5vh 1vh;
        border-radius: 5px;
        font-size: 14px;

        transition: background 1s ease-in-out;
    }
}

@media screen and (min-width: 480px) {
    .phone-filters{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .ui{
        width: 200px
    }
}
